.heroimg{
   
    
    width: 100%;
}
.datepick{
    border: 3px solid white;
}
iframe{
    width: auto;
    height: 100%;
}
.heading{
    text-align: center;
}
.text{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px !important;
}
.imgCont{
 padding: 200px !important;
}