.heroimg{
   border: 1px solid black;
    }

iframe{
    width: auto;
    height: 100%;
}
.heading{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.text{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imgCont{
 padding: 2px;
 display: flex;
 
 align-items: center;
 justify-content: center;

}
.header{
    text-align: center;
}
.datecontainer{  
 display: inline-block;
 height: 100%;
 padding: 0;
}
